# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Envs
venv/
bin/
etc/
include/
lib/
env/
Scripts/
share/

#testing data
my_dataset/

# VSCode
.vscode/
.history/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# OS generated
.DS_Store
Thumbs.db

# Environment & Secrets
.env

# Data & Cache
*.log
*.csv
*.json
*.h5
*.db
runs/
